{{#if editando}}
<form action="/editar/{{post.id}}" method="POST">
{{else}}
<form action="/add" method="POST">
{{/if}}
    <p>Titulo: </p>
    <input type="text" name="titulo" value="{{post.titulo}}">
    <p>Conteudo: </p>
    <textarea name="conteudo">{{post.conteudo}}</textarea>
    <button type="submit">{{#if editando}}Salvar{{else}}Cadastrar{{/if}}</button>
</form>
<a href="/">Voltar</a>
